  html{
   overflow-x: hidden;
  }

  body{
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   background-color: black;
   overflow-x: hidden;
  }

  .arrow{
    margin: 0px 0px 0px 0px;
    size: 10px;
  }

  nav{
    pointer-events: none;
    display: flex;
    height: 100px;
    width: 100%;  
    background: black;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #230b28;
    position: fixed;
    z-index: 10;
  }

  .back-nav{
    width:100vw;
  }

  .navbar-fixed{
    position: fixed;
  }

  h3{
    font-weight: normal;
  }

  .thumbnail {
      height: 100px;
      max-height: : 100%;
      width: auto;
      border-top-left-radius: 5px
  }

  .titleBox{
    display: flex;
    flex-direction: column;

  }

  .playButton{

  }

  .article-title{
    margin: 5px;
    font-family: Helvetica;
    /*vertical-align: center;*/
    text-align: middle;
  }


  .article-body{
    display: none;
    font-style: Utopia;
  }

  figure{
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
  }

  .red-column {
    flex: 2;
    flex-direction: column;
    padding: 0px;
    background-color: black;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    width: 50%;
  }


/*  .red-column .article{
    border-color: red;
    margin: 10px
  }*/
   
  .blue-column {
    flex: 2;
    flex-direction: column;
    padding: 0px;
    background-color: black;
    overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
    height: 100vh;
    width: 50%;

  }

/*  @media only screen and (max-device-width: 768px){
    figure{
      flex-direction: column;
      width: 100px;
    }
    .article{
      flex-direction: row;
    }
    .red-column{
      height: 90em;
    }
    .blue-column{
      height: 90em;
    }
  }*/

  .article{
    margin: 20px;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    flex-basis: auto;
    padding: 0px;
    text-decoration: none;
    height: auto;
    border: 3px #2d2d2d solid;
    transition: 1s ease-out;
  }

  .article:hover{
    border-color: white;
    cursor: pointer;
    z-index: 4;
    transform: translate3d(5vh, 0vh, 10vh);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.5, 0, .1, 1);
  }


  .newsBox{
    display: flex;
  }

  .searchSubmit{
    display: none;
  }


  .blue-column .article .article-image .arrow:hover{
    background-color: #99ccff;
    cursor: pointer;
  }

  .article-content{
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: justify;
    text-justify: inter-word;
  }

  .red-column .article .article-image .arrow:hover{
    background-color: #ff8080;
    cursor: pointer;
  }

  .red-column .article figure .thumbnail{
    margin-left: auto;
    order: 3;
  }

  .logo{
    margin-right: auto;
  }


  .blue-column .article figure .thumbnail{
    margin-right: auto;
  }

  .red-column .article .article-image .arrow{
    order: 1;
  }

  .blue-column .article .article-image .arrow{
    align-self: right
  }

  .red-column .article .article-image .titleBox{
    order: 2;
    text-align: left;
  }

  .blue-column .article .article-image .article-title{
    text-align: left;
  }

  .red-column .article .article-image{
    margin-right: 5px;
  }

  .blue-column .article .article-image{
    margin-left: 5px;
  }

  .article-body {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    color: #1a1a1a;
    padding-bottom: 5px;
    padding-right: 3vh;
    padding-left: 3vh;
  }
 
  .article-content {
    flex: 1;
    color: #1a1a1a;
    text-decoration: none;
  }

  .footer{
    margin-right: 3px;
    text-align: right;
    font-size: 13px;
  }

  .columns {
    display: flex;
  }
  


  .article-content:hover{
    color: #e2e1e0;
  }

  .blue-column .article{
    background-color: #1aa3ff;
  }

  .red-column .article{
    background-color: #fc3737;
  }

  .blue-column .article figure{
    color: black;
    justify-content: flex-end;
  }

  .blue-column .article:hover {
    z-index: 4;
    transform: translate3d(0vh, 0vh, 10vh);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, .1, 1);
  }

  .red-column .article:hover {
    z-index: 4;
    transform: translate3d(0vh, 0vh, 10vh);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, .1, 1);
  }



  .red-column .article figure{
    color: black;
    justify-content: flex-start;
  }

  .purple-column {
    flex: 1;
    flex-direction: column;
    background-color: #e580ff;
  }

.search {
  pointer-events: all;
  cursor: pointer;
  background-color: #9F87D1;
  height: 30px;
  font-size: 21px;
  color: white;
  display: block;
  border: solid 2px white;
  padding: 19px 20px 19px 20px;
  width: 30px;
  vertical-align: middle;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.searchBar{
  margin: 5px;
}

.search::-webkit-input-placeholder {
  color: transparent;
}

.search:focus {
  width: 520px;
  /*transform: translateX(-260px);*/
  background-color: #9F87D1;
  outline: none;
}

.search:focus::-webkit-input-placeholder {
  color: white;
}

.videoViewer{
  display: none;
}

.search::before {
  content: '';
  margin-top: 10px;
  width: 60px;
  height: 2px;
  background-color: white;
}

.line {
  width: 2px;
  height: 35px;
  transform: rotate(-35deg);
  background-color: white;
  float: left;
  margin-left: 68px;
  margin-top: -12px;
}

.article-body{
    transition: all .5s ease-out;
    opacity: 0; 
    max-height: 0;
    overflow: hidden;
}

.article:hover .article-body{
    opacity: 1;
    max-height: 40vh;
    transition: all 0.5s ease-in;

}
